.nav-wrapper {
  a {
    color: #424242;
    font-size: 1.2rem;
  }

  .brand-logo {
    img {
      width: 60px;
      padding-top: 10px;
    }
  }
}

.navbar-fixed {
  nav {
    background: rgba(255, 255, 255, 0.9);
  }
}

.white-overlay {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.bold {
  font-weight: 500;
}

#mobile-demo {
  background: rgba(60, 60, 60, 0.3);
  padding-top: 100px;
  width: 100vw;

  .btn {
    margin-left: 70%;
    margin-right: 20%;
  }

  a {
    color: white;
    font-size: 2rem;
    font-weight: 100;
  }
}

#home {
  background: url('../img/showcase-background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    transition: font-size 0.3s;

    @media only screen and (max-width: 768px) {
      font-size: 2.5em;
    }

    @media only screen and (max-width: 360px) {
      font-size: 2em;
    }
  }
}

#home {
  max-height: 100vh;

  .center-vertical {
    padding: 30vh 0;
  }
}

.center-vertical {
  padding: 20vh 0;
}

a.active {
  background-color: #e0e0e0;
  font-weight: 500;
}

#logo {
  background: transparent;
}

.opacity-zero {
  opacity: 0;
}

#aboutme {
  p {
    line-height: 1.8em;
  }

  li {
    padding-top: 20px;
  }
}

.card {
  .card-title {
    font-size: 1.2rem;
  }

  .card-content {
    height: 100%;
  }
}

.chip {
  height: 28px;
  line-height: 28px;
  // padding: 0 6px;
  border-radius: 0;
  margin-bottom: 8px;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.chip:hover{
  height: 38px;
  cursor: pointer;
}
       